<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/common/init.css">
    <link rel="stylesheet" href="/stylesheets/modules/jquery.pagepiling.min.css">
    <link rel="stylesheet" href="/stylesheets/index/analysis.css">
    <script src="./dist/index/analysis.js" type="module"></script>
    <title>
        疫情趋势动画
    </title>
</head>

<body>
    <article id="container">
        <section class="section" id="section1">
            <article style="height:100vh;display: flex;justify-content: center;align-items: center;">
                <div id="map" style="width: 60vw;height:60vh;margin-top: -10vh;"></div>
            </article>
        </section>
        <!-- <section class="section" id="section2">
            <section class="intro">
                <h1>Simple</h1>
                <p>Sections won't contain anchor links. It's more simple to configure but a bit more restrictive.</p>
            </section>
        </section>-->
    </article>
    <!-- <script src="./javascripts/jquery.pagepiling.min.js"></script> -->
</body>

</html>